<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spriteapp.booklibrary">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application android:label="@string/app_name">

        <!-- 下载app服务 -->
        <service android:name=".service.UpdateAPKService" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="net.huaxi.reader.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".ui.activity.HomeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/HuaXiAppTheme" />
        <activity
            android:name=".ui.activity.ReadActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HuaXiAppTheme" />
        <activity
            android:name=".ui.activity.WebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HuaXiAppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <!-- <intent-filter> -->
            <!-- <data android:scheme="weixin" android:host="wap" /> &lt;!&ndash; 自定义的scheme &ndash;&gt; -->
            <!-- <action android:name="android.intent.action.VIEW" /> -->


            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- <category android:name="android.intent.category.BROWSABLE" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".ui.activity.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HuaXiAppTheme" />
        <activity
            android:name=".ui.activity.PublishCommentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HuaXiAppTheme"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".ui.activity.RecentReadActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HuaXiAppTheme" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.activity.NativeActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="behind" />
        <activity android:name=".ui.activity.CreateDynamicActivity" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5951bff1a40fa30a5200226a" />
        <!-- 华为支付  value的值“appid”用实际申请的应用ID替换，来源于开发者联盟网站应用的权益详情。 -->
        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="100073201" />
        <!-- BridgeActivity定义了HMS-SDK中一些跳转所需要的透明页面。 -->
        <activity
            android:name="com.huawei.hms.activity.BridgeActivity"
            android:configChanges="orientation|locale|screenSize|layoutDirection|fontScale"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent">
            <meta-data
                android:name="hwc-theme"
                android:value="androidhwext:style/Theme.Emui.Translucent" />
        </activity>

        <!-- “xxx.xxx.xxx”用实际的应用包名替换 -->
        <provider
            android:name="com.huawei.hms.update.provider.UpdateProvider"
            android:authorities="net.huaxi.reader.hms.update.provider"
            android:exported="false"
            android:grantUriPermissions="true" />

        <activity android:name=".ui.activity.SquareDetailsActivity" />
        <activity android:name=".ui.activity.CommentReplyActivity" />
        <activity android:name=".widget.photoview.PictureExternalPreviewActivity" />
        <activity android:name=".ui.activity.SearchActivity" />
        <activity android:name=".ui.activity.RechargeActivity" />
        <activity android:name=".ui.activity.DownloadChapterActivity" />
        <activity android:name=".ui.activity.TaskActivity" />
        <activity android:name=".ui.activity.InvitationActivity" />
        <activity android:name=".ui.activity.BindPhoneActivity" />
        <activity android:name=".ui.activity.WithdrawalsActivity"></activity>
    </application>

</manifest>