html{font-size:16px;}
body{background: #f9f9f9;font-family:Helvetica,Lantinghei SC, Open Sans, Arial,Hiragino Sans GB,Microsoft YaHei,STHeiti, WenQuanYi Micro Hei, SimSun, sans-serif;;}
body,div,p{padding:0;margin: 0;}
.notice-head{font-size: 0.875rem;color:#333;padding-bottom:0.8125rem;/*height:50rem;/*line-height: 50rem;*/}
.notice-head.notice-head-fir{padding-top: 0.8125rem;}
.notice-body p{font-size:0.75rem;color:#999;/*padding:0.25rem 0;/*line-height: 26rem;*/}
.pro-step,.pro-notice{background: #fff;border-bottom: 1px solid #e1e1e1;padding: 1rem}
.pro-notice{margin-top: 1rem;border-top: 1px solid #e1e1e1;}
.pro-step p{font-size: 0.875rem;color:#333;text-indent: 1.75rem;line-height: 1.5rem;}
.bottom{margin-left:1rem;margin-bottom:2.8125rem;margin-top:2.8125rem;color:#999;font-size: 0.75rem;padding:0.25rem 0;/*line-height: 1.25rem;*/}
p.former-pra{text-indent: 1.75rem;line-height: 1.375rem;letter-spacing: 2px;}
p.after-pra{text-indent: 3.5rem;line-height: 1.375rem;letter-spacing: 2px;}
span.phonum{color:#f9494c;}
span.little{font-size: 10px;}
.bottom span{display:inline-block;padding: 2px 0;}